<div class="resource flex-group-center essence">
    <div class="flexrow">
        <i class="fas fa-minus resource-control resource-minus" data-resource="essence" data-action="minus"></i>
        <label for="data.data.essence" class="resource-label">{{localize "EVWOD.Essence"}}</label>
        <i class="fas fa-plus resource-control resource-plus" data-resource="essence" data-action="plus"></i>
    </div>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-counter" data-states="x:full" data-max="{{data.data.essence.max}}" data-full="{{data.data.essence.full}}" data-name="data.essence">
            {{#numLoop data.data.essence.max}}
            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>